{%extends "layout.html"%}
{%block content%}
<div class="admin">
  <div class='jumbotron'>
    <div class="container">
      <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
      <div  class="text-danger">
        <b>  {{ messages[0] }}</b>
      </div>
      <br>
      {% endif %}
      {% endwith %}
    </div>
  <h1 style="color:blue;">This is Forgot Password Page</h1>
<form method="POST" action="/resetPassword">
      <div class="form-group">
                        <div class="col-md-5">
                              <div class="row" >
                                  <div class="col-md-8">
                                    <label for="forgotpwd">Enter Email to Reset the Password</label>
                                  </div>
                                  <div class="col-md-8">
                                    <input class="form-control" type="email" name="email" maxlength="30" placeholder="Email" required= True autofocus="">

                                    <!-- <input type="email" name="email" maxlength="30" placeholder="Email" required= True autofocus="" > -->
                                  </div>
                              </div>
                              <br>
                              <div class="row" >
                                          <br>
                                          <div class="col-md-8">
                                            <button  id=process_input class="btn btn-primary"  type="submit">Reset Password</button>
                                          </div>
                              </div>
                      </div>
          </div>
</form>
    </div>
  </div>
</div>
{%endblock%}
