
{%extends "layout.html"%}
{%block content%}
<body>
<div class="home" style="background-color:#e1dfed;">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
      <div class="text-danger">
        <b>  {{ messages[0] }}   </b>
      </div>
  {% endif %}
  {% endwith %}

              <div  class='jumbotron' style="background-color:#e1dfed;" >
                    <title>Items Entry</title>
                        <p style="color:blue;">Items Master Entry</p>
                            <div class="form-group">
                                    <form action="/createItemsMasterData" method="post">
                                      <div class="row" >



                                                      <div class="col-md-5">
                                                          <label for="hsndesc">Item Description</label>
                                                          <input type="text" class="form-control" name="itemdesc" placeholder="Enter Description">
                                                      </div>
                                                        <div class="col-md-5">
                                                      <label >HSN Code</label>

                                                        <select class="form-control" id =hsnType>
                                                          <option value="Select Category">Select Category</option>
                                                          {% for value in HsnData %}
                                                            <option value="{{value.HSN_Code}}">(HSN Code-{{value.HSN_Code}})({{value.HSN_Description}}) -- @-({{value.HSN_Percentage}} %)</option>
                                                          {% endfor %}
                                                        </select>
                                                        <input  type="text"  hidden name="hsnDetails" >

                                                    </div>
                                      </div>

                                      <div class="row" >


                                                      <div class="col-md-5">
                                                          <label for="comments">Comments</label>
                                                          <input type="text" class="form-control" name="comments" placeholder="Enter comments">
                                                      </div>
                                        </div>
                                                      <!-- <br><br><br><br><br><br><br> -->
                                                          <br>
                                          <div class="row" >
                                                      <br>
                                                      <div class="col-sm-8 col-sm-push-4">
                                                        <button  id=process_input class="btn btn-primary"  type="submit">Create Item</button>
                                                      </div>

                                              </div>

                                              <input type="text" hidden class="loginUserID" value ="{{current_user.id}}" size=1  name="loginUserID">

                                        </form>
                              </div>
              </div>
</div>

</body>

    </div>
</div>

	<script type=text/javascript>
  $( document ).ready(function() {
    $('#hsnType').on('change', function()
    {
      $('input[name="hsnDetails"]').val($('#hsnType option:selected').val())

    });
     $('#process_input').click(function() {
      var hsncode      =   $('input[name="hsnDetails"]').val().trim();
      var itemdesc     =   $('input[name="itemdesc"]').val().trim();
      var comments  =   $('input[name="comments"]').val().trim();


      if (hsncode == ''  ||  itemdesc == ''  || comments == '' )
                {
                  var errorMessage = 'HSN Code, Description and Percentage are  mondatory'

                    $.confirm({
                                       title: 'Encountered an error!',
                                       content: errorMessage,
                                       type: 'red',
                                       typeAnimated: true,
                                       buttons: {
                                           tryAgain: {
                                               text: 'Try again',
                                               btnClass: 'btn-red',
                                               action: function(){
                                                 $( "#custname" ).focus();
                                               }
                                           },
                                           close: function () {
                                           }
                                       }
                             });
                             return false;
                }

                else {
                  return true
                }


          });

    });



  </script>



{%endblock%}
