{%extends "layout.html"%}
{%block content%}

<div class="admin">
<div class='jumbotron' style="background-color:#cce0d8">
<div class="container">
<!-- <form method="POST" action="/createMasterAccDetails"> -->
<div class="row">
  <p class="col-xs-6 col-sm-4 col-md-push-3"><text style="color: #fdc82c;"><b>Master Details</text></b></p>
</div>

  <div class="row" >
            <div class="col-md-5">
                <label class="font-weight-bold" for="masteraccno">Master Account No</label>
                <input class="form-control" type="text" name="masteraccno" maxlength="15" placeholder="Enter Account No" >
            </div>
            <div class="col-md-5">
              <label class="font-weight-bold" for="loginid">Login ID Name</label>
                <input class="form-control" type="text" name="loginid" maxlength="15" placeholder="Enter Login ID" >
            </div>
    </div>
    <div class="row" >
              <div class="col-md-5">
                  <label class="font-weight-bold" for="passwrd">Password</label>
                  <input class="form-control" type="text" name="passwrd" maxlength="15" placeholder="Enter Password" >
              </div>
              <div class="col-md-5">
                <label class="font-weight-bold" for="servername">Server Name</label>
                  <input class="form-control" type="text" name="servername" maxlength="100" placeholder="Enter Server Name" >
              </div>
      </div>
      <div class="row" >
                <div class="col-md-5">
                    <label class="font-weight-bold" for="brokername">Broker Name</label>
                    <input class="form-control" type="text" name="brokername" maxlength="100" placeholder="Enter Broker Name" >
                </div>
                <div class="col-md-5">
                  <label class="font-weight-bold" for="lotsize">Lot Size</label>
                    <input class="form-control" type="text" name="lotsize" maxlength="15" placeholder="Enter Lot Size" >
                </div>
        </div>
        <div class="row" >
                  <div class="col-md-5">
                      <label class="font-weight-bold" for="equitycap">Equity Capital</label>
                      <input class="form-control" type="text" name="equitycap" maxlength="15" placeholder="Enter Equity Capital" >
                  </div>
                  <div class="col-md-5">
                    <label class="font-weight-bold" for="status">  &nbsp;</label><br>
                    <label><input type="checkbox" id="active" name="active" > Active</label>
                    <!-- <div class="btn-group btn-group-toggle" data-toggle="buttons">
                      <label class="btn btn-warning active">
                        <input type="radio" name="options" id="option1" autocomplete="off" checked> Active
                      </label>
                      <label class="btn btn-warning">
                        <input type="radio" name="options" id="option2" autocomplete="off"> In Active
                      </label>

                    </div> -->


                      </div>
          </div>
          <input type="text" hidden class="loginUserID" value ="{{current_user.id}}" size=1  name="loginUserID">

          <br>
          <div class="row">
            <br>
            <!-- </form> -->
              <div class="col-xs-6 col-sm-1 col-md-push-4">
            <!-- <div class="text-center">  -->

          <a href=# id=submit_data><button  class="btn btn-primary" ><span class="glyphicon glyphicon-th-list"></span>&nbsp;Create Master Details</button></a>
              </div>

          </div>
  <!-- </form> -->
</div>
</div>
</div>


<script type=text/javascript>
     $(document).ready(function() {
       $(window).load(function() {

///validate form

function validateForm()
{
  var masteraccno   =   $('input[name="masteraccno"]').val();
  var loginid   =   $('input[name="loginid"]').val();
  var passwrd   =   $('input[name="passwrd"]').val();
  var servername   =   $('input[name="servername"]').val();
  var brokername   =   $('input[name="brokername"]').val();
  var lotsize   =   $('input[name="lotsize"]').val();
  var equitycap   =   $('input[name="equitycap"]').val();
  var userId = $('input[name="loginUserID"]').val();
    active ='No'
  if ( masteraccno.trim() == '' )
  {
    showErrorMessage("Please enter Master Account No")
    return false;
  }
  if ( loginid.trim() == ''  )
  {
    showErrorMessage("Please enter  Login ID")
    return false;
  }
  if ( passwrd.trim() == '')
  {
    showErrorMessage("Please enter Password")
    return false;
  }
  if ( servername.trim() == '')
  {
    showErrorMessage("Please enter Server Name")
    return false;
  }
  if ( brokername.trim() == '')
  {
    showErrorMessage("Please enter Broker Name")
    return false;
  }
    if ( lotsize.trim() == '')
    {
      showErrorMessage("Please enter Lot Size")
      return false;
    }
    if ( equitycap.trim() == '')
    {
      showErrorMessage("Please enter Equity Capital")
      return false;
    }
  if ($('#active').is(":checked"))
  {
    active = 'Yes'
  }
  else {
    showErrorMessage("Please select Active")
    return false;
  }

  if(!($.isNumeric(masteraccno)) || !($.isNumeric(loginid))   )
  {
    showErrorMessage("Master Account No and Login ID are Numeric")
    return false;

  }


  $.getJSON(
    '/createMasterAccDetails',{
      masteraccno  : masteraccno,
      loginid : loginid,
      passwrd  : passwrd,
      servername  : servername,
      brokername  : brokername,
      lotsize  : lotsize,
      equitycap  : equitycap,
      active  : active,
      masterID : userId,
    },
    function(data) {
window.location.href = '/display_SubmitConfirm?submitMessage='+data.result
      // $.each(data.custidj, function(key, val) {
      //
      //
      //   });
    }
  );


}

/// validate form

/// submit form
$('a#submit_data').click(function(){
validateForm()
});


/// submit form



            ///function showErrorMessage

            function showErrorMessage(errorMessage){

            $.confirm({
                           title: 'Encountered an error!',
                           content: errorMessage,
                           type: 'red',
                           typeAnimated: true,
                           buttons: {
                               tryAgain: {
                                   text: 'OK',
                                   btnClass: 'btn-red',
                                   action: function(){
                                     // $( "#custname" ).focus();
                                   }
                               },
                               close: function () {
                               }
                           }
                 });
            // return false;
            }

            ///function showErrorMessage

            /// submit form

            // $('a#submit_data').click(function(){
            // validateForm()
            // });

            /// submit form

              });
            });

</script>
{%endblock%}
