{%extends "layout.html"%}
{%block content%}
<!-- jquery plugin for datatables  -->


<head>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
</head>

<br>
<br>
<br>
<!-- <button id="addRow">Add new row</button> -->
<!-- <button id="deleteRow">Delete row</button> -->
    <table id="myTable" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Item Code</th>
                <th>Description</th>
                <th>HSN Code</th>
                <th>HSN Percentage</th>
                <th>Quantity</th>
                <th>Rate</th>
                <th>UOM</th>
                <th>Status</th>
                <th>Comments</th>
                <th>Created Date</th>
            </tr>
            <tbody>
            {% if Items is defined and Items[0] is defined %}
            {% for item in Items %}
            <tr>
                <td role='row'>{{item.Item_Code}}</td>
                <td role='row'>{{item.Item_Description}}</td>
                <td role='row'>{{item.HSN_Code}}</td>
                <td role='row'>{{item.HSN_Percentage}}</td>
                <td role='row'>{{item.Quantity}}</td>
                <td role='row'>{{item.Rate}}</td>
                <td role='row'>{{item.Unit_Description}}</td>
                <td role='row'>{{item.Status_Description}}</td>
                <td role='row'>{{item.Comments}}</td>
                <td role='row'>{{item.Created_Date.strftime('%d-%b-%Y')}}</td>
            </tr>
            {% endfor %}
            {% else %}
          <tr><td role='row'><p> Do not have any list</p></td></tr>
            {% endif %}

          </tbody>
        </thead>

    </table>

<script>
    $(document).ready( function () {
        $('#myTable').DataTable();

        var t = $('#myTable').DataTable();
          var counter = 1;

          $('#addRow').on( 'click', function () {
              t.row.add( [
                  counter +'.1',
                  counter +'.2',
                  counter +'.3',
                  counter +'.4',
                  counter +'.5'
              ] ).draw( false );

              counter++;
          } );

          // Automatically add a first row of data
          // $('#addRow').click();

/// ===
var table = $('#myTable').DataTable();
$('#myTable tbody').on( 'click', 'tr', function () {
        if ( $(this).hasClass('selected') ) {
            $(this).removeClass('selected');
        }
        else {
            table.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
        }
    } );
          $('#deleteRow').click( function () {
       table.row('.selected').remove().draw( false );
   } );
/// ===


    } );
</script>
{%endblock%}
